# .gitignore

# Node/Electron
frontend/node_modules/
frontend/dist/
frontend/build/
*.log

# Python
backend/venv/
backend/.env
__pycache__/
*.pyc

# General
.DS_Store
*.env

# Python virtual environment
glob_env/

# Sensitive data
credentials.json
**/*/credentials.json
backend/client_secret_*.json
client_secret_*.json
notebooks/token.json

# Data
notebooks/preprocessed
vault/
data/
notebooks/data/
notebooks/chroma_db